*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
}

.service-sec{
    padding: 60px 0;
}
.service-row{
    display: flex;
    flex-wrap: wrap;
}

.service-col{
    width: 33.3%;
    text-align: center;
    padding: 12px;
}

.title h4{
    padding-bottom: 5px;
}

h4{
    position: relative;

}

h4::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    background-color: lightsalmon;
    top: 10px;
    left: 90px;

}

.card{
    padding: 40px;
    margin-top: 20px;
    box-shadow: 0 0 10px #ccc;
}

.card h2{
    margin-top: 10px;
}

.card p{
    margin: 20px 0 20px ;
}

.ico-wrap{
    width: 60px;
    height: 60px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

